PLATFORM_POSTGRES_DB=overleaf
PLATFORM_POSTGRES_USER=overleaf
PLATFORM_POSTGRES_PASSWORD=overleaf_dev_password
PLATFORM_POSTGRES_PORT=5432

PLATFORM_MINIO_ROOT_USER=overleafminio
PLATFORM_MINIO_ROOT_PASSWORD=overleafminiosecret
PLATFORM_MINIO_PORT=9010
PLATFORM_MINIO_CONSOLE_PORT=9011
